name: Check PR (Feature -> Dev)

on:
  pull_request:
    # This runs the check when a PR is opened against 'development'
    branches: [ "development" ]

jobs:
  verification:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y verilator iverilog

      - name: Syntax Check (Lint)
        run: verilator --lint-only -Wall --cc *.sv

      - name: Run Testbench (Simulation)
        run: |
          # 1. Compile all .sv files into a simulation executable named 'sim.out'
          #    -g2012 enables SystemVerilog support
          iverilog -g2012 -o sim.out *.sv

          # 2. Run the simulation
          vvp sim.out
